*{
    margin: 0;
    padding: 0;
    text-transform: none;
    list-style: none;
    box-sizing: border-box;
}

.canva{
    width: 100vw;
    height: 100vh;
    background-color: #fee5f2;
    font-size: 16px;
    padding: 10rem 1.5rem;
    position: relative;
overflow: hidden;   
}

.video{
    position: absolute;
    left: 0;
    top: -200px;
    height: 500px;
    width: 100%;
    border-radius:40%;
    }
    
    .video video{
    border-radius:50%;
    height: 100%;
    width: 100%;
    transform: rotate(90deg);
}

.container{
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 4rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    background-color: #fff;
    border-left:2px solid pink;
    border-right:2px solid pink;
    border-bottom:2px solid pink;
}

.container img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 10px solid white;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 1rem;
}

.container h1,h2,a{
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.container h1{
    font-family: "Cinzel", serif;
    font-size: 1.2rem;
}

.container h2{
    font-style: italic;
    font-weight: 400;
    font-size: .9rem;
}

.container a {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.container ul{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container ul li{
    background-color: rgb(253, 101, 126);
    text-align: center;
}

.container ul li a{
    text-transform: uppercase;
    display: block;
    padding: .5rem;
    color: #FFFFFF;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;   
    justify-content: center;
    gap: .5rem;
    align-items: center;
    padding: 1rem;
}

footer span{ 
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-size: 13px;
}

footer a{
    width: 80px;
}

footer a img{
    width: 100%;
    display: block;
}